<div class="container my-4 py-4">
    <h2 class="display-5 mb-3">New Blog</h2>
    <div class="row mb-5">
      <div class="col-md-12 p-3">
        <form action="/send/post" enctype="multipart/form-data" method="post">
          <div class="mb-3">
            <label for="subject" class="form-label">Title</label>
            <input type="text" id="subject" name="title" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Blog Image</label>
            <input type="file" id="image" name="image" class="form-control" required accept="image/*">
          </div>
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea name="body" id="message" class="form-control" required spellcheck="true" rows="7"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">submit</button>
        </form>
        
      </div>
    </div>
  </div>