<div class="row justify-content-center alig-items-center text-white" style="padding-top: 160px;">
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6 p-3">
        <h1 class="display-4">Local Agent</h1>
        <h2>Stephen Brooks</h2>
      </div>
      <div class="col-md-6 p-3">
        <h3 class="h1 h1-responsive">Contact Me</h3>
        <hr>
        <p>
          <a href="tel:580-309-0236" class="text-white m-2">
            <i class="fas icon fa-headset"></i>
          </a>
          <a href="mailto:stephenbrooks714@gmail.com" class="text-white m-2">
            <i class="far icon fa-envelope"></i>
          </a>
          <a href="" class="text-white m-2">
            <i class="fab icon fa-facebook"></i>
          </a>
          <a href="" class="text-white m-2">
            <i class="fab icon fa-linkedin-in"></i>
          </a>
          <a href="" class="text-white m-2">
            <i class="fab icon fa-instagram"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>