<div class="container my-4 py-4">
  <h2 class="display-5 fw-bold">What I can help you with</h2>
  <h4 class="mb-3">Let me get you a quote for a policy to protect you</h4>
    <div class="row text-center">
      <div class="col-md-3 p-3">
        <div class="card hover-zoom">
          <div class="card-header-pills">
            <a href="/lifeInsurance">
              <img src="https://www.picpedia.org/chalkboard/images/life-insurance.jpg" 
                class="img-fluid" alt="img">
            </a>
          </div>
          <p class="card-text">
            Life Insurance
          </p>
          <p>
            Posted 03/11/2021
          </p>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="card hover-zoom">
          <div class="card-header-pills">
            <a href="/healthInsurance">
              <img src="https://media.istockphoto.com/photos/health-insurance-concept-image-of-stethoscope-and-family-on-wooden-picture-id1026960934?k=6&m=1026960934&s=612x612&w=0&h=XszQurORvuEZl9IiI2qPabuE31CWr0Upj8HkdQOmY8g=" 
                class="img-fluid" alt="img">
            </a>
          </div>
          <p class="card-text">
            Health Insurance
          </p>
          <p>
            Posted 05/11/2021
          </p>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="card hover-zoom">
          <div class="card-header-pills">
            <a href="/autoInsurance">
              <img src="https://www.quoteinspector.com/media/car-insurance/car-insurance-21684592354.jpg" 
                class="img-fluid" alt="img">
            </a>
          </div>
          <p class="card-text">
            Auto Insurance
          </p>
          <p>
            Posted 03/11/2021
          </p>
        </div>
      </div>
      <div class="col-md-3 p-3">
        <div class="card hover-zoom">
          <div class="card-header-pills">
            <a href="/homeInsurance">
              <img src="https://agchat.org/wp-content/uploads/homeowners-insurance-in-Florida.png" 
                class="img-fluid" alt="img">
            </a>
          </div>
          <p class="card-text">
            Home Insurance
          </p>
          <p>
            Posted 03/11/2021
          </p>
        </div>
      </div>
    </div>
  </div>